@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&family=MedievalSharp&display=swap');
@import "tailwindcss";


@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #000000;
  --text-color: #264E46;
}

@layer base {
  html, body {
    font-family: 'MedievalSharp', normal;
    color: var(--text-color); /* <-- set default text color here */
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F7E6B6;
    --foreground: #706E66;
    --text-color: #264E46;
  }
}

body {
  background: var(--background);
  color: var(--text-color); /* <-- currently sets default text color */
}

@layer components {
  .font-gothic {
    font-family: 'MedievalSharp', cursive;
    color: var(--text-color)
  }
  .font-medieval {
    font-family: 'IM Fell English', serif;
    color: var(--text-color)
  }
}
